xs-max-width = 767px
xs-min-width = xs-max-width + 1

html,
body {
  width: 100%
  height: 100%
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.btn-dark {
  border-radius: 0
  background-color: #333
  color: white
  width: 100%
  padding: 12px
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:active:hover,
.btn-dark.active {
  background-color: #222
  color: white
}

.full-size {
  display: table
  position: relative
  width: 100%
  height: 100%
}

.section {
  padding: 50px 0
}

.main-header {
  background: url(/img/header.jpg) no-repeat center center scroll
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
}

.church-map {
  background: url(/img/church-map.png) no-repeat center center scroll
  background-size: contain
  -webkit-background-size: contain
  -moz-background-size: contain
  -o-background-size: contain
}

@media (max-width: xs-max-width) {
  .church-map {
    background: url(/img/church-map.png) no-repeat center center scroll
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
  }
}

.party-map {
  background: url(/img/etiuda-map-route.png) no-repeat center center scroll
  background-size: contain
  -webkit-background-size: contain
  -moz-background-size: contain
  -o-background-size: contain
}

@media (max-width: xs-max-width) {
  .party-map {
    background: url(/img/etiuda-map.png) no-repeat center center scroll
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
  }
}

.text-grey {
  color: #000
}

.text-shadow {
  color: #fff
  text-shadow: 2px 1px 3px rgba(0, 0, 0, .9)
  text-rendering: optimizeLegibility
  filter: dropshadow(color = #000, offx = 0, offy = 0)
}

.text-huge {
  font-weight: 900
  font-size: 4.5em
}

.text-big {
  font-weight: 900
  font-size: 3em
}

.text-vertical-center {
  display: table-cell
  text-align: center
  vertical-align: middle
}

.gifts-header {
  background: url(/img/gift.jpg) no-repeat center center scroll
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  padding: 150px 0
}

.wedding-header {
  background: url(/img/church.jpg) no-repeat center center scroll
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  padding: 150px 0
}

.party-header {
  background: url(/img/party.jpg) no-repeat center center scroll
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  padding: 150px 0
}