defaultBackground = #333
activeBackground = #444
defaultColor = #fff
activeColor = #ddd

@media (min-width: 768px) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
  .navbar-collapse {
    max-height: none;
  }
  body {
    margin: 0;
  }
}

.navbar-black {
  background-color: defaultBackground
  border-color: activeBackground
  background-image: none
  background-repeat: no-repeat
}

.navbar-black .navbar-brand {
  color: defaultColor
}

.navbar-black .navbar-brand:hover,
.navbar-black .navbar-brand:focus {
  color: activeColor
}

.navbar-black .navbar-text {
  color: defaultColor
}

.navbar-black .navbar-nav > li > a {
  color: defaultColor
}

.navbar-black .navbar-nav > li > a:hover,
.navbar-black .navbar-nav > li > a:focus {
  color: activeColor
}

.navbar-black .navbar-nav > .active > a,
.navbar-black .navbar-nav > .active > a:hover,
.navbar-black .navbar-nav > .active > a:focus {
  color: activeColor
  background-color: activeBackground
}

.navbar-black .navbar-nav > .open > a,
.navbar-black .navbar-nav > .open > a:hover,
.navbar-black .navbar-nav > .open > a:focus {
  color: activeColor
  background-color: activeBackground
}

.navbar-black .navbar-toggle {
  border-color: activeBackground
}

.navbar-black .navbar-toggle:hover,
.navbar-black .navbar-toggle:focus {
  background-color: activeBackground
}

.navbar-black .navbar-toggle .icon-bar {
  background-color: defaultColor
}

.navbar-black .navbar-collapse,
.navbar-black .navbar-form {
  border-color: defaultBackground
}

.navbar-black .navbar-link {
  color: defaultColor
}

.navbar-black .navbar-link:hover {
  color: activeColor
}

@media (max-width: 767px) {
  .navbar-black .navbar-nav .open .dropdown-menu > li > a {
    color: defaultColor
  }

  .navbar-black .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-black .navbar-nav .open .dropdown-menu > li > a:focus {
    color: activeColor
  }

  .navbar-black .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-black .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-black .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: activeColor
    background-color: activeBackground
  }
}